@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Raleway", sans-serif;
}

.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}

.header__wrapper {
   background: #000000;
}

.header__wrapper .container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header__menu {
   flex-basis: 60%;
}

.header__list {
   display: flex;
}

.header__list li {
   flex-grow: 1;
   text-align: center;
}

.header-list__item {
   text-decoration: none;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 600;
   line-height: 19px;
   color: #ffffff;
   text-transform: capitalize;
   display: block;
   padding: 30px 15px;
}

.header-list__item:hover {
   background-color: #ec7979;
}

.header-list__item:active {
   background-color: #ab4949;
}

.banner {
   padding: 208px 0 185px 0;
   background-image: url("../img/bg_1.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
}

.banner:before {
   content: " ";
   display: block;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.5);
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

.banner .container {
   display: flex;
   position: relative;
   z-index: 1;
}

.banner__content {
   display: flex;
   flex-direction: column;
   flex-basis: 59%;
   margin-right: 15px;
}

.banner__logo {
   display: flex;
   margin-bottom: 73px;
}

.banner__title {
   font-family: "Raleway", sans-serif;
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   margin-bottom: 97px;
   text-transform: uppercase;
   color: #ffffff;
   position: relative;
}

.banner__title:after {
   content: " ";
   display: block;
   border-bottom: 1px solid #ffffff;
   max-width: 170px;
   width: 100%;
   position: absolute;
   top: calc(100% + 40px);
}

.banner__text {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #ffffff;
   margin-bottom: 42px;
   display: block;
   max-width: 270px;
   width: 100%;
}

.banner__btn {
   font-size: 18px;
   line-height: 24.51px;
   color: #fff;
   font-family: "Open Sans";
   font-weight: 600;
   display: block;
   max-width: 270px;
   width: 100%;
   text-align: center;
   text-transform: capitalize;
   padding: 20px 0 20px 0;
   background-color: transparent;
   border: 2px solid #ffffff;
}

.banner__btn:hover {
   border: 2px solid #ec7979;
   color: #ec7979;
   cursor: pointer;
}

.banner__btn:active {
   color: #fff;
   border: 2px solid #ab4949;
   background-color: #ab4949;
}

.social-media {
   padding: 30px 0 18px 0;
   background-color: #f8efef;
}

.social-media .container {
   display: flex;
}

.social-media__item:first-child {
   flex-basis: 40%;
}

.social-media__icon:hover path {
   fill: rgb(60, 60, 153);
   color: rgb(60, 60, 153);
}

.social-media__title {
   font-size: 24px;
   line-height: 32.68px;
   font-family: "Open Sans";
   margin-bottom: 20px;
}

.social-media__description {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   color: #86878b;
}

.social-media__item:last-child {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
   padding-left: 50px;
}

.tabs {
   background-color: #ffffff;
   padding: 110px 0 118px 0;
}

.tabs__list {
   display: flex;
   flex-grow: 1;
}

.tabs__list li {
   flex-grow: 1;
   text-align: center;
   max-width: 203px;
}

.tabs-list__link {
   text-decoration: none;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 400;
   line-height: 19px;
   color: #333333;
   text-transform: uppercase;
   display: block;
   padding: 13px;
   border: transparent;
}

.tabs-list .active {
   border: 1px solid #c6cbcd;
   border-radius: 5px 5px 0 0;
   position: relative;
}

.tabs-list .active::before {
   content: " ";
   display: block;
   width: 100%;
   height: 20px;
   background-color: #fff;
   position: absolute;
   left: 0;
   top: calc(100% - 10px);
}

.tabs__content {
   display: flex;
   border: 1px solid #c6cbcd;
}

.tabs__item:first-child {
   padding: 55px 30px 54px 100px;
   flex-basis: 60%;
}

.tabs__title {
   font-size: 30px;
   line-height: 40.85px;
   font-family: "Open Sans";
   margin-bottom: 56px;
}

.tabs__text {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 21px;
   color: #000;
}

.tabs__text:nth-child(3) {
   margin-bottom: 27px;
}

.tabs__btn {
   font-size: 18px;
   line-height: 24.51px;
   padding: 20px;
   color: #ffffff;
   font-family: "Open Sans";
   font-weight: 600;
   background-color: #ec7979;
   border: none;
   display: block;
   max-width: 270px;
   width: 100%;
}

.tabs__btn:hover {
   color: #fff;
   background-color: #ab4949;
   cursor: pointer;
}

.tabs__btn:active {
   box-shadow: 0px 0px 10px 0px #ab4949 inset;
   color: #fff;
   background-color: #ec7979;
}

.tabs__item:last-child {
   overflow: hidden;
}

.tabs__item img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.about {
   background-color: #ffffff;
   padding: 0 0 58px 0;
}

.about__title {
   font-family: "Raleway", sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 80px;
   position: relative;
}

.about__title::after {
   position: absolute;
   content: " ";
   display: block;
   border-bottom: 1px solid #ec7979;
   max-width: 170px;
   width: 100%;
   top: calc(100% + 40px);
   left: 50%;
   transform: translateX(-50%);
}

.about__description {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878b;
   margin-bottom: 110px;
}

.about__row {
   display: flex;
}

.about__row .about-item {
   margin-right: 30px;
}

.about__row .about-item:last-child {
   margin-right: 0;
}

.about-item__icon {
   width: 92px;
   height: 92px;
   border: 1px solid #ec7979;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 71px;
}

.about-item__icon img {
   width: 75%;
   height: 75%;
   object-fit: contain;
}

.about-item__title {
   margin-bottom: 46px;
   font-family: "Open Sans";
   font-size: 24px;
   line-height: 33px;
   text-align: center;
}

.about-item__text {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
}

.pricing {
   padding: 118px 0 50px 0;
   background-color: #f5f5f5;
}

.pricing__title {
   font-family: "Raleway", sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 80px;
   text-transform: uppercase;
   position: relative;
}

.pricing__title::after {
   content: " ";
   display: block;
   border-bottom: 1px solid #ec7979;
   max-width: 170px;
   width: 100%;
   position: absolute;
   top: calc(100% + 40px);
   left: 50%;
   transform: translateX(-50%);
}

.pricing__description {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878b;
   margin-bottom: 59px;
}

.pricing__item {
   display: flex;
}

li {
   list-style-type: none;
}

.pricing__list {
   flex: 1 1 33.3333%;
   margin-right: 30px;
   position: relative;
   top: 0;
}

.pricing__list:last-child {
   margin-right: 0;
}

.pricing__list:hover {
   top: -20px;
   box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
}

.pricing-list__title {
   font-family: "Open Sans";
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   padding: 18px 0;
   background-color: #333333;
   color: #ffffff;
   border-bottom: 2px solid #f5f5f5;
}

.pricing-list__cost {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 36px;
   line-height: 42.26px;
   text-align: center;
   padding: 29px 0;
   background-color: #333333;
   color: #ffffff;
   border-bottom: 2px solid #f5f5f5;
}

.pricing-list__time {
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21.13px;
   text-align: center;
   padding: 15px 0 14px 0;
   background-color: #333333;
   color: rgba(255, 255, 255, 0.5);
   border-bottom: 2px solid #f5f5f5;
}

.pricing-list__space {
   font-family: "Raleway", sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 21.13px;
   text-align: center;
   padding: 29px 0;
   background-color: #ffffff;
   color: #86878b;
   border-bottom: 2px solid #f5f5f5;
   text-transform: capitalize;
}

.reviews {
   padding: 118px 0 75px 0;
}

.reviews__title {
   font-family: "Raleway", sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 80px;
   text-transform: uppercase;
   position: relative;
}

.reviews__title::after {
   display: block;
   content: " ";
   border-bottom: 1px solid #ec7979;
   max-width: 170px;
   width: 100%;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% + 40px);
}

.reviews .reviews__text {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878b;
   margin-bottom: 83px;
}

.reviews__content-bottom {
   display: flex;
}

.reviews__item {
   margin-right: 30px;
}

.reviews__item:last-child {
   margin-right: 0;
}

.reviews__content-bottom .reviews__text {
   padding: 38px 40px 37px 40px;
   background: #e2e2e2;
   border-radius: 10px;
   text-align: center;
   color: #86878b;
   margin-bottom: 66px;
   position: relative;
}

.reviews__content-bottom .reviews__text::after {
   content: " ";
   display: block;
   width: 0;
   height: 0;
   border-left: 20px solid transparent;
   border-right: 20px solid transparent;
   border-top: 30px solid #e2e2e2;
   position: absolute;
   top: calc(100%);
   left: 17%;
}

.reviews__customer {
   display: flex;
   max-width: 370px;
}

.customer__image {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   overflow: hidden;
}

.customer__image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.customer__data {
   margin-left: 30px;
}

.customer__name {
   font-family: "Open Sans";
   font-size: 24px;
   font-style: normal;
   font-weight: 700;
   line-height: 33px;
   text-align: left;
   margin-bottom: 27px;
   text-transform: capitalize;
}

.customer__position {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 21px;
   letter-spacing: 0em;
   text-align: left;
   text-transform: capitalize;
}

.banner2 {
   padding: 118px 0 50px 0;
   background-image: url("../img/bg_2.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
}

.banner2 .container {
   position: relative;
   z-index: 1;
}

.banner2::before {
   content: " ";
   width: 100%;
   height: 100%;
   display: block;
   position: absolute;
   left: 0;
   top: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

.banner2__title {
   font-family: "Raleway", sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 80px;
   text-transform: uppercase;
   color: #ffffff;
   position: relative;
}

.banner2__title::after {
   content: " ";
   display: block;
   border-bottom: 1px solid #ffffff;
   max-width: 170px;
   width: 100%;
   position: absolute;
   top: calc(100% + 40px);
   left: 50%;
   transform: translateX(-50%);
}

.banner2__text {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #ffffff;
   margin-bottom: 73px;
}

.banner2__btn {
   font-size: 18px;
   line-height: 24.51px;
   color: #fff;
   font-family: "Open Sans";
   font-weight: 600;
   display: block;
   max-width: 370px;
   width: 100%;
   text-transform: capitalize;
   text-align: center;
   margin: 0 auto;
   padding: 20px 0 20px 0;
   background-color: transparent;
   border: 2px solid #ffffff;
}

.banner2__btn:hover {
   border: 2px solid #ec7979;
   color: #ec7979;
   cursor: pointer;
}

.banner2__btn:active {
   color: #fff;
   background-color: #ab4949;
   border: 2px solid #ab4949;
}

.contact {
   padding: 118px 0 50px 0;
}

.contact__title {
   font-family: "Raleway", sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 80px;
   text-transform: uppercase;
   position: relative;
}

.contact__title:after {
   content: " ";
   display: block;
   border-bottom: 1px solid #ec7979;
   max-width: 170px;
   width: 100%;
   position: absolute;
   top: calc(100% + 40px);
   left: 50%;
   transform: translateX(-50%);
}

.contact__description {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878b;
   margin-bottom: 353px;
}

.contact__btn {
   background-color: #ec7979;
   border: none;
   font-size: 18px;
   line-height: 24.51px;
   color: #ffffff;
   font-family: "Open Sans";
   font-weight: 600;
   display: block;
   max-width: 370px;
   width: 100%;
   text-transform: capitalize;
   text-align: center;
   margin: 0 auto;
   padding: 20px 0 20px 0;
}

.contact__btn:hover {
   color: #fff;
   background-color: #ab4949;
   cursor: pointer;
}

.contact__btn:active {
   box-shadow: 0px 0px 10px 0px #ab4949 inset;
   color: #fff;
   background-color: #ec7979;
}

.footer__wrapper {
   padding: 38px 0 27px 0;
   background-color: #000000;
}

.footer__items {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.footer-items__icon {
   margin-right: 33px;
}

.footer-items__icon:last-child {
   margin-right: 0px;
}

.footer-items__icon:hover path {
   fill: rgb(60, 60, 153);
   color: rgb(60, 60, 153);
}

.footer__text {
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
}
