.parent {
    display: flex;
    justify-content: center;
    background-color: blue;
    }
    .item{
        padding: 10px;
        list-style-type: none;
        color: #ffffff;
        max-width: 100px;
        text-align: center;
    }