@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    outline: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: block;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    max-width: 370px;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding: 17px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 80px;
    position: relative;
}

.title::after {
    content: "";
    display: block;
    width: 170px;
    border-bottom: 1px solid #ec7979;
    position: absolute;
    top: calc(100% + 40px);
    left: 50%;
    transform: translateX(-50%);
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878b;
    margin-bottom: 89px;
}

/* BLOCK HEADER */

.header {
    /* padding: 22px; */
    background-color: #000000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 84px;
    height: 31px;
}

.header__logo svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
}

.header__item a {
    text-decoration: none;
    padding: 30px;
    color: #ffffff;
    display: inline-block;
}

.header__item a:visited {
    color: #ffffff;
}
.header__item:hover {
    background-color: #ec7979;
}
.header__item:active {
    background-color: #ab4949;
}

/* BLOCK BANNER */

.banner {
    padding: 210px 0 185px;
    background-image: url(../img/bgbanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.banner::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner .container {
    position: relative;
    z-index: 1;
}

.banner .container {
    display: flex;
    align-items: flex-start;
}

.banner__description {
    max-width: 57%; /*не верно считает в процентах 57%*/
    margin-right: 30px;
}

.banner__logo {
    max-width: 170px;
    /* height: 55px; */
    margin-bottom: 73px;
}
.banner__logo svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 97px;
    position: relative;
}

.banner__title::after {
    content: "";
    display: block;
    width: 170px;
    border-bottom: 1px solid #ffffff;
    position: absolute;
    top: calc(100% + 55px);
}

.banner__text {
    max-width: 270px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
    margin-bottom: 42px;
}

.banner__btn {
    max-width: 270px;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-left: 0;
}

.banner__btn:hover {
    border: 2px solid #ec7979;
    color: #ec7979;
}

.banner__btn:active {
    background-color: #ab4949;
    border: 2px solid #ab4949;
    color: #ffffff;
}

.banner__form {
    width: 43%;
    padding: 28px 0px 0;
    border-radius: 10px;
    background-color: #ffffff;
}

.banner__form-title {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 64px;
}

.banner__form-title span {
    color: #ec7979;
}

.banner__input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 16px 0;
    display: block;
    max-width: 370px;
    width: 100%;
    margin: 0 auto 22px;
}

.banner__input:last-child {
    margin-bottom: 0px;
}
.form-group {
    margin-bottom: 75px;
}

.banner__input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #bdbdbd;

    max-width: 571px;
    width: 100%;
    margin-bottom: 85px;
}

.banner__form-btn {
    max-width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: #ec7979;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
}

.banner__form-btn:hover {
    background-color: #ab4949;
}

.banner__form-btn:active {
    background-color: #ec7979;
}

/* BLOCK SOCIAL */

.social {
    padding: 28px 0px;
    background-color: #f8efef;
}

.social .container {
    display: flex;
}

.social__title {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.social__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878b;
}

.social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__item {
    margin-right: 30px;
}

.social__item:last-child {
    margin-right: 0;
}

.social__item:hover path {
    fill: #536dd4;
}

/* BLOCK TABS */

.tabs {
    padding: 109px 0 0;
}

.tabs__group {
    display: flex;
}

.tabs__item {
    max-width: 184px;
    width: 100%;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 13px;
    border: 1px solid transparent;
    border-radius: 5px 5px 0px 0px;
    position: relative;
}

.tabs__item.active {
    border: 1px solid #c6cbcd;
    border-radius: 5px 5px 0px 0px;
}
.tabs__item.active::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 10px;
    background-color: #fff;
}

.tabs__block {
    display: flex;
    border: 1px solid #c6cbcd;
}

.tabs__info {
    padding: 50px 30px 54px 100px;
    width: 60%;
}

.tabs__title {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 60px;
}

.tabs__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 27px;
}

.tabs__btn {
    max-width: 270px;
    background: #ec7979;
    margin-left: 0;
    color: #ffffff;
}

.tabs__btn:hover {
    color: #ffffff;
    background-color: #ab4949;
}

.tabs__btn:active {
    color: #ffffff;
    box-shadow: inset 0px 0px 10px #ab4949;
}

.tabs__img {
    overflow: hidden;
}

.tabs__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BLOCK ADVANTAGES */

.advantages {
    padding: 118px 0 58px;
}

.advantages__text {
    margin-bottom: 110px;
}

.advantages__block {
    display: flex;
}

.advantages__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
}

.advantages__item:last-child {
    margin-right: 0;
}

.advantages__logo {
    width: 92px;
    height: 92px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 39px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__logo img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.advantages__logo-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 28px;
}

.advantages__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/* BLOCK PRICING */

.pricing {
    padding: 118px 0 50px; /*смотрим внимательно на размеры в макете*/
    background: #f5f5f5;
}

.pricing__text {
    margin-bottom: 79px;
}

.pricing__block {
    display: flex;
}

.pricing__elem {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
}

.pricing__elem:hover {
    position: relative;
    top: -20px;
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}

.pricing__elem:last-child {
    margin-right: 0;
}

.pricing__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #86878b;
    background: #ffffff;
    border-bottom: 2px solid #f5f5f5;
    padding: 15px;
}

.pricing__item:nth-child(3) {
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
}

.pricing__item:nth-child(2) {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px;
    color: #ffffff;
    background: #333333;
}

.pricing__item:nth-child(1) {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 12px;
    background: #333333;
    color: #ffffff;
}

/* BLOCK FEEDBACK */

.feedback {
    padding: 118px 0 74px;
}

.feedback__text {
    margin-bottom: 83px;
}

.feedback__block {
    display: flex;
}

.feedback__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.feedback__item:last-child {
    margin-right: 0;
}

.feedback__comment {
    padding: 38px 13px 37px;
    background: #e2e2e2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}

.feedback__comment::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #e2e2e2;
    position: absolute;
    top: 100%;
    left: 70px;
}

.feedback__comment-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878b;
}

.feedback__user {
    display: flex;
}

.feedback__user-photo {
    width: 70px; /* все верно сделано - в  px */
    height: 70px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__user-info {
    width: calc(100% - 70px - 30px);
}

.feedback__user-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.feedback__user-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

/* BLOCK STYLISH */

.stylish {
    padding: 50px 0;
    background-image: url(../img/bgstylish.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.stylish::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.stylish .container {
    position: relative;
    z-index: 1;
}

.stylish__title {
    color: #ffffff;
}

.stylish__title::after {
    border-bottom: 1px solid #ffffff;
}

.stylish__text {
    color: #ffffff;
    margin-bottom: 73px;
}

.stylish__btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
}

.stylish__btn:hover {
    color: #ec7979;
    border: 2px solid #ec7979;
}

.stylish__btn:active {
    color: #ffffff;
    background-color: #ab4949;
    border: 2px solid #ab4949;
}

/* BLOCK CONTACT */

.contact {
    padding: 50px 0;
}

.contact__text {
    margin-bottom: 89px;
}

.contact__form {
    display: flex;
    /* margin-bottom: 50px; */
    flex-wrap: wrap;
}

.contact__form-group {
    margin-right: 30px;
    width: calc((100% - 30px) / 2);
}

.contact__input {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    padding: 16px 0;
    display: block;
    width: calc((100% - 30px) / 2);
    /* margin-bottom: 40px; */
}

.contact__form-group > .contact__input {
    width: 100%;
    margin-bottom: 40px;
}

.contact__form-group > .contact__input:last-child {
    margin-bottom: 0;
}

.contact__input::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #bdbdbd;

    /* max-width: 571px; */
    /* width: 100%; */
    /* margin-bottom: 85px; */
}

.contact__form textarea {
    resize: none;
}

.contact__btn {
    color: #ffffff;
    background: #ec7979;
    border: none;
    margin: 40px auto 0;
}

.contact__btn:hover {
    color: #ffffff;
    background-color: #ab4949;
}

/* BLOCK FOOTER */
.footer {
    padding: 35px 0 27px;
    background-color: #000000;
}

.footer__icons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.footer__item {
    margin-right: 30px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__item:hover path {
    fill: #536dd4;
}

.footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
