@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    display: block;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    max-width: 370px;
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    padding: 17px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

h2.title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.line {
    width: 170px;
    border: 1px solid #ec7979;
    margin: 0 auto;
    margin-bottom: 40px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878b;
    margin-bottom: 83px;
}

/* BLOCK HEADER */

.header {
    background: #000000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .header__logo {
    padding: 30px;
} */

.header__menu {
    display: flex;
    flex-wrap: wrap;
}

.header__item a{
    display: inline-block;
    padding: 45px; /* НЕ УВЕРЕН В ЭТОМ ЗНАЧЕНИЕ. ВЗЯЛ ЕГО С ПОМОЩЬЮ ЛИНЕЙКИ СНИЗУ И СВЕРХУ ОТ ТЕКСТА
    ИЛИ ЭТОТ PADDING ЛУЧШЕ ЗАДАВАТЬ САМИМ ССЫЛКАМ? */
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
}

.header__item a {
    color: #ffffff;
    text-decoration: none;
}

/* BLOCK SOCIAL */
/* ЧТО-ТО МНЕ НЕ НРАВИТСЯ КАК Я СВЕРСТАЛ ЭТОТ БЛОК. НО СДЕЛАЛ, КАК СМОГ . ЕСЛИ ЗАМЕЧАНИЯ 
ПО ВЁРСТКЕ ЭТОГО БЛОКА - ПИШИ */
.social {
    padding: 15px 0 18px;
    background: #f8efef;
}

.social__block {
    display: flex;
}

.social__left {
    width: 39%; /* 470 ДЕЛИЛ НА 1200 */
}

.social__title {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 18px; /* при наведении на блок, показывает именно 18px */
}

.social__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878b;
}

.social__right {
    width: 61%; /* указал остаток 100% - 39% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social__list {
    display: flex;
}

.social__item {
    margin-left: 45px;
    width: 52px; /* размеры li нужно задавать или ссылкам? */
    height: 52px;
}

.social__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BLOCK TABS */

.tabs {
    padding: 109px 0 0;
}

.tabs__group {
    display: flex;
}

.tabs__item {
    max-width: 184px;
    width: 100%;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    padding: 10px;
}

.tabs__item:first-child {
    max-width: 201px;
    border: 1px solid #c6cbcd;
    border-radius: 3px;
}

.tabs__block {
    display: flex;
    border: 1px solid #c6cbcd;
}

.tabs__info {
    padding: 50px 30px 54px 100px;
    width: 60%;
}

.tabs__title {
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 60px;
}

.tabs__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 27px;
}

.tabs__btn {
    max-width: 270px;
    background: #ec7979;
    margin-left: 0;
    color: #ffffff;
}

.tabs__img {
    overflow: hidden;
}

.tabs__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BLOCK ADVANTAGES */

.advantages {
    padding: 50px 0 58px;
}

.advantages__block {
    display: flex;
}

.advantages__item {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
}

.advantages__item:last-child {
    margin-right: 0;
}

.advantages__logo {
    width: 92px;
    height: 92px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 39px;
    border-radius: 50%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.advantages__logo img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}

.advantages__logo-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 28px;
}

.advantages__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

/* BLOCK PRICING */

.pricing {
    padding: 118px 0 50px; /*смотрим внимательно на размеры в макете*/
    background: #f5f5f5;
}

.pricing__block {
    display: flex;
}

.pricing__elem {
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
}

.pricing__elem:nth-child(2) {
    margin-top: -20px;
}

.pricing__elem:last-child {
    margin-right: 0;
}

.pricing__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #86878b;
    background: #ffffff;
    border-bottom: 2px solid #f5f5f5;
    padding: 15px;
}

.pricing__item:nth-child(3) {
    background: #333333;
    color: rgba(255, 255, 255, 0.5);
}

.pricing__item:nth-child(2) {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    padding: 27px;
    color: #ffffff;
    background: #333333;
}

.pricing__item:nth-child(1) {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    padding: 12px;
    background: #333333;
    color: #ffffff;
}

/* BLOCK FEEDBACK */

.feedback {
    padding: 118px 0 74px;
}

.feedback__block {
    display: flex;
}

.feedback__item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.feedback__item:last-child {
    margin-right: 0;
}

.feedback__comment {
    padding: 38px 13px 37px;
    background: #e2e2e2;
    border-radius: 10px;
    /* margin-bottom: 66px; */
}

.feedback__comment-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878b;
}

.feedback__comment-triangle {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #e2e2e2;
    margin-bottom: 66px;
    margin-left: 70px;
}

.feedback__user {
    display: flex;
}

.feedback__user-photo {
    width: 70px; /* все верно сделано - в  px */
    height: 70px;
    margin-right: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.feedback__user-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feedback__user-info {
    width: calc(100% - 70px - 30px);
}

.feedback__user-name {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.feedback__user-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
}

/* BLOCK STYLISH */

.stylish {
    padding: 50px 0;
    background-image: url(../img/bgstylish.png);
}

.stylish__title {
    color: #ffffff;
}

.stylish__line {
    border: 1px solid #ffffff;
}

.stylish__text {
    color: #ffffff;
    margin-bottom: 73px;
}

.stylish__btn {
    color: #ffffff;
    border: 2px solid #ffffff;
    background: transparent;
}

/* BLOCK CONTACT */

.contact {
    padding: 50px 0;
}

.contact__text {
    margin-bottom: 89px;
}

.contact__form {
    margin-bottom: 50px;
}

.contact__btn {
    color: #ffffff;
    background: #ec7979;
    border: none;
}

/* BLOCK FOOTER */
.footer {
    padding: 35px 0 27px;
    background: #000000;
}

.footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.footer__item {
    margin-right: 45px;
}

.footer__item:last-child {
    margin-right: 0;
}

.footer__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
