@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

$colorYellow: #ffd773;
$colorBlue: #77cbfa;
$colorRed: #ff0404;
$colorBlack: #333333;
$colorWhite: #ffffff;
$colorBorder: #eaecef;

@mixin subtitle {
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  color: $colorBlack;
  padding: 8px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
}

@mixin name {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $colorBlack;
  text-transform: uppercase;
}

@mixin text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  color: $colorBlack;
  opacity: 0.9;
}

@mixin cost {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $colorBlack;
}

@mixin btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  color: $colorRed;
  border: 1px solid $colorRed;
  border-radius: 5px;
  padding: 8px 27px;
  background-color: $colorWhite;
  cursor: pointer;
}

.container {
  max-width: 1015px;
  padding: 0 15px;
  margin: 0 auto;
}

.subtitle_yellow {
  background-color: $colorYellow;
}
.subtitle_blue {
  background-color: $colorBlue;
}

.fees {
  padding: 80px 0px;

  &__title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    color: $colorBlack;
  }
  &__rates {
    width: 54%;
    margin-left: auto;
    display: flex;
    margin-bottom: 20px;
  }
  &__rate {
    width: calc(100% / 4);
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $colorBlack;
    text-transform: uppercase;

    &.mobile {
      display: none;
    }
  }
  &__item {
    margin-bottom: 35px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &__subtitle {
    @include subtitle();
    margin-bottom: 35px;
  }

  &__block {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $colorBorder;
    margin-bottom: 20px;
    padding-bottom: 20px;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__left {
    margin-right: 44px;
    width: calc(100% - 54% -44px);
  }
  &__right {
    width: 54%;
    display: flex;
  }

  &__tick {
    width: calc(100% / 4);
    text-align: center;
    list-style: none;
    border-right: 2px solid $colorBorder;
    &:last-child {
      border: none;
    }

    &.active path {
      stroke: $colorRed;
    }
  }
  &__prices {
    width: 54%;
    display: flex;
    margin-left: auto;
  }
  &__price {
    width: calc(100% / 4);
    text-align: center;
  }
  &__cost {
    @include cost();
    margin-bottom: 15.77px;
  }
  &__btn {
    @include btn();
  }
}

@media (max-width: 767px) {
  .fees {
    padding: 60px 0 72px;
    &__title {
      font-size: 35px;
      line-height: 35px;
      margin-bottom: 30px;
    }
    &__rates {
      display: none;
    }
    &__subtitle {
      font-size: 25px;
      line-height: 25px;
      margin-bottom: 30px;
    }
    &__name {
      font-size: 21px;
      line-height: 21px;
      margin-bottom: 10px;
    }
    &__block {
      display: block;
    }

    &__rate.mobile {
      display: inline-block;
      margin-right: 23px;
    }
    &__text {
      margin-bottom: 20px;
    }
    &__right {
      flex-direction: column;
      width: 100%;
    }
    &__tick {
      width: 100%;
      text-align: left;
    }
    &__item:nth-last-of-type(2) {
      margin-bottom: 40px;
    }
    &__prices {
      width: 100%;
      margin: 0;
      flex-direction: column;
    }
    &__price {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 10px;
      background: linear-gradient(0deg, #f5f7f9, #f5f7f9);
      border-radius: 5px;
    }
    &__btn {
      max-width: 120px;
      width: 100%;
      max-height: 40px;
    }
    &__cost {
      margin-bottom: 0;
      text-align: left;
    }
    &__ratemobile-cost {
      .fees__rate.mobile {
        width: 100%;
        margin: 0;
        margin-bottom: 3px;
      }
    }
  }
}
