@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.awesome {
    /* padding: 0 170px; */
    margin-bottom: 58px;
  }
  
  .container__awesome {
    padding: 0 15px;
    max-width: 1200px;
    margin: 0 auto;
  }
  .awesome__title {
    font-family: Raleway;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;

    /* убираем внутренний отступ и заменяем на отступ от жлемента к линии */
    margin-bottom: 54px; 

    color: #000;
  }
  
  .awesome__line {
    border-bottom: 1px solid #ec7979;
    max-width: 170px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  
  .awesome__text {
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #86878b;
    margin-bottom: 71px;
  }
  
  .awesome__block {
    display: flex;
  }
  .awesome__item {
    width: calc((100% - 30px - 30px) / 3);
    width: 100%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .awesome__item:last-child {
    margin-right: 0;
  }
  
  .awesome__img {
    width: 92px;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ec7979;
    border-radius: 50%;
  }
  
  .awesome__name {
    font-family: Open Sans;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    text-align: center;
    padding: 33.5px;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000;
  }
  
  .awesome__info {
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    align-items: center;
    color: #000;
  }
  