@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

@import "preStyle.scss";
@import "styleMenu.scss";

html{
	scroll-behavior: smooth;
}

.container{
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.text__link::before{
	content: '';
	display: inline-block;
	width: 0; 
	height: 0;
	border-top: 5px solid transparent;
	border-left: 5px solid;
	border-bottom: 5px solid transparent;
	margin-right: 10px;
}



// header

.header{
	position: relative;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	.logo{
		position: absolute;
		left: 15px;
		top: 24px;
	}
	.burg{
		position: absolute;
		right: 15px;
		top: 24px;
		@include hamburgerMenu;
		background-color: #fff;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		display: flex;
    align-items: center;
    justify-content: center;
	}
}

// banner

.banner{
	background-image: url(../img/Banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 188px 0 211px;

	&__block{
		max-width: (616px / 1110px) * 100%;
		margin-right: auto;
	}
	&__text-small{
		@include bannerTextSmall;
		margin-bottom: 22px;
	}
	&__title{
		@include bannerTitle;
		margin-bottom: 24px;
	}
	&__text{
		@include bannerText;
		margin-bottom: 52px;
	}
	&__link{
		@include textLink;
		&:hover{
			color: #FFD723;
		}
		&:active{
			color: #D4D6D4;
		}
	}
}

// clients

.client{
	background: #FFFFFF;
	box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
	border-radius: 2px;
	padding: 60px 0 50px;
	position: absolute;
	right: 0;
	transform: translateY(-45%);
	z-index: 1;
	.container {
		padding: 0;
	}
	&__block{
		display: flex;
		justify-content: flex-end;
	}
	&__logo {
		margin-left: 66px;
	}
}

// services

.services {
	padding: 0 15px;
	.container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 160px;
		border-bottom: 1px solid rgba(33, 56, 66, 0.0955529);
		padding: 0 0 150px;
	}
	&__block{
		padding: 244px 0 0;
	}
	&__text-small{
		@include servicesTextSmall;
		margin-bottom: 29px;
	}
	&__title{
		@include servicesTitle;
		margin-bottom: 35px;
	}
	&__text{
		@include servicesText;
		margin-bottom: 44px;
	}
	&__link{
		@include textLink;
		&:hover{
			color: #FFD723;
		}
		&:active{
			color: #D4D6D4;
		}
	}

	&__comment{
		padding: 244px 8px 60px 40px;
		max-width: 474px;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
	}
	&__comment-text{
		@include servicesComment;
		margin-bottom: 50px;
	}
	&__person{
		display: flex;
		align-items: center;
	}
	&__person-img{
		width: 90px;
		height: 90px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
		margin-right: 30px;
		img{
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}
	&__person-name{
		@include servicesPersonName;
		margin-bottom: 6px;
	}
	&__person-post{
		@include servicesPersonPost;
	}
}

// project

.project{
	padding: 150px 0 104px;
	.container{
		display: flex;
		align-items: center;
	}
	&__title{
		@include projectTitle;
		margin-right: 133px;
		max-width: 331px;
	}
	&__text{
		@include projectText;
		max-width: 518px;
	}
}

// wall

.wall{
	display: flex;
	margin-bottom: 165px;

	&__block{
		margin-right: 97px;
		max-width: 51%;
		width: 100%;
		background-image: url(../img/Bitmap_1.jpg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
	}
	&__info {
		padding: 96.6px 0;
	}
	&__comment{
		background: #FFFFFF;
		box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
		border-radius: 8px;
		max-width: 453px;
		width: 100%;
		padding: 30px;
		position: absolute;
		right: (0 - 42px);
		bottom: (0 - 65px);
		// transform: translate(40px, 50px);
		.wall__text{
			@include productComments;
			margin-bottom: 31px;
		}
	}
	// &__text{
	// 	@include productComments;
	// 	margin-bottom: 24px;
	// }
	&__person{
		display: flex;
		align-items: center;
	}
	&__person-img{
		width: 46px;
		height: 46px;
		overflow: hidden;
		border-radius: 50%;
		margin-right: 14px;
		box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
		img{
			// width: 100%;
			height: 100%;
			object-fit: cover;
			// position: relative;
			// left: 12px;
		}
	}
	&__person-name{
		@include productPersonName;
		// margin-bottom: 4px;
	}
	&__person-post{
		@include productPersonPost;
	}

	&__info {
		max-width: 475px;
		width: 100%;
		.wall__title{
			@include productTitle;
			margin-bottom: 24px;
		}
		.wall__text{
			@include productText;
			margin-bottom: 24px;
			&:nth-child(3){
				margin-bottom: 90px;
			}
		}
		.wall__link{
			@include textLink;
			&:hover{
				color: #FFD723;
			}
			&:active{
				color: #D4D6D4;
			}
		}
	}
}

// model

.model{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 135px;

	&__info{
		max-width: 421px;
		width: 100%;
		margin-right: 112px;
		padding: 83.6px 0;
		.model__title{
			@include productTitle;
			margin-bottom: 24px;
		}
		.model__text{
			@include productText;
			margin-bottom: 24px;
			&:nth-child(3){
				margin-bottom: 90px;
			}
		}
		.model__link{
			@include textLink;
			&:hover{
				color: #FFD723;
			}
			&:active{
				color: #D4D6D4;
			}
		}
	}
	
	&__block{
		max-width: 51%;
		width: 100%;
		background-image: url(../img/Bitmap_2.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		padding: 275px 0;
		position: relative;
	}
	&__comment{
		background: #FFFFFF;
		box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
		border-radius: 8px;
		max-width: 453px;
		width: 100%;
		padding: 30px;
		position: absolute;
		bottom: (0 - 38px);
		left: (0 - 40px);
		// transform: translate(-40px, 50px);
		.model__text{
			@include productComments;
			margin-bottom: 32px;
		}
	}
	&__person{
		display: flex;
	}
	&__person-img {
		width: 46px;
		height: 46px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 14px;
		box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
		img{
			height: 100%;
			object-fit: cover;
			position: relative;
			right: 20px;
		}
	}
	&__person-name {
		@include productPersonName;
		margin-bottom: 4px;
	}
	&__person-post {
		@include productPersonPost;
	}
}

// booking

.booking{
	display: flex;
	margin-bottom: 192px;
	&__block{
		background-image: url(../img/Bitmap_3.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		max-width: 51%;
		width: 100%;
		margin-right: 95px;
		position: relative;
	}
	&__comment{
		max-width: 453px;
		width: 100%;
		background: #FFFFFF;
		box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
		border-radius: 8px;
		padding: 30px;
		position: absolute;
		bottom: (0 - 44px);
		right: (0 - 42px);
		// transform: translate(40px, 50px);
		.booking__text{
			@include productComments;
			margin-bottom: 24px;
		}
		.booking__person{
			display: flex;
		}
		.booking__person-img{
			width: 46px;
			height: 46px;
			border-radius: 50%;
			margin-right: 14px;
			overflow: hidden;
			box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
			img{
				height: 100%;
				object-fit: cover;
				position: relative;
				right: 8px;
			}
		}
		.booking__person-name{
			@include productPersonName;
			margin-bottom: 4px;
		}
		.booking__person-post{
			@include productPersonPost;
		}
	}
	
	&__info {
		max-width: 475px;
		width: 100%;
		padding: 96.6px 0;
		.booking__title{
			@include productTitle;
			margin-bottom: 24px;
		}
		.booking__text{
			@include productText;
			margin-bottom: 24px;
			&:nth-child(3){
				margin-bottom: 90px;
			}
		}
		.booking__link{
			@include textLink;
			&:hover{
				color: #FFD723;
			}
			&:active{
				color: #D4D6D4;
			}
		}
	}
}

// product idea

.idea {
	padding: 0 15px 322px;
	.container{
		padding: 149px 0 0;
		border-top: 1px solid rgba(33, 56, 66, 0.0955529);
	}
	&__title {
		@include ideaTitle;
		margin-bottom: 60px;
		max-width: 607px;
	}
	&__info {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-column-gap: 30px;
	}
	&__block {
		padding: 27px 31px 36px 30px;
		display: flex;
		flex-direction: column;
	}
	&__block-title {
		@include ideaBlockTitle;
		margin-bottom: 20px;
	}
	&__block-text {
		@include ideaBlockText;
		margin-bottom: 33px;
	}
	&__link {
		@include textLink;
		margin-top: auto;
		&:hover{
			color: #FFD723;
		}
		&:active{
			color: #D4D6D4;
		}
	}
}

// call to action

.action{
	&::before{
		content: '';
		display: block;
		height: 362px;
		width: 50%;
		background-color: #FAFAFA;
		box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
		position: absolute;
	}
	.container{
		background: #FAFAFA;
		box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
		padding: 72.6px 15px;
		position: relative;
    margin: -169px auto;
	}
	&__title{
		@include action;
		margin-bottom: 50px;
	}
	&__link{
		@include textLink;
		&:hover{
			color: #FFD723;
		}
		&:active{
			color: #D4D6D4;
		}
	}
}

// footer

.footer{
	padding: 290px 0 30px;
	background-color: #4F553D;
	background-image: url(../img/footerBgObject.png);
	.container{

	}
	.contact{
		display: flex;
		padding-bottom: 52px;
		border-bottom: 1px solid #5D6544;
		&__phone{
			margin-right: 128px;
		}
		&__text{
			@include contactText;
			margin-bottom: 8px;
		}
		&__text-bold{
			@include contactTextBold;
		}
	}
	.info{
		padding: 60px 0;
		border-bottom: 1px solid #5D6544;
		display: flex;

		&__service, &__help, &__company{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			max-width: 167px;
			width: 100%;
		}
		&__service{
			margin-right: 70px;
		}
		&__help{
			margin-right: 93px;
		}
		&__company{
			margin-right: 13px
		}
		&__contact{
			padding-left: 110px;
			border-left: 1px solid #5D6544;
		}
		&__title{
			@include infoTitle;
			margin-bottom: 21px;
			// display: block;
		}
		&__link{
			@include infoLink;
			text-decoration: none;
			// display: block;
			&:hover{
				color: #FFD723;
			}
			&:active{
				color: #D4D6D4;
			}
		}
		&__text{
			@include infoText;
			margin-bottom: 23px;
		}
		&__mail-bold{
			@include infoMailBold;
			text-decoration: none;
		}
		&__soc{
			margin-top: 24px;
			ul{
				display: flex;
			}
			li{
				width: 33px;
				height: 33px;
				margin-right: 14px;
				border-radius: 50%;
				background: #444A34;
				display: flex;
				justify-content: center;
				align-items: center;
				&:hover{
					background-color: #FFD723;
					transition: all .15s linear;
				}
				&:hover path{
					fill: #fff;
					transition: all .15s linear;
				}
				&:active{
					background-color: #D4D6D4;
				}
				
				a svg{

				}
			}
		}
	}
	.copyright{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 24px;
		img{
			display: block;
			max-width: 200px;
			width: 100%;
		}
		&__text{
			@include copyrightText;
			display: block;
		}
	}
}
