@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

@-webkit-keyframes hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1210px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

.header__border {
  border-bottom: 1px solid #babbc5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .header__border {
    border-bottom: none;
  }
}

.header__logo,
.header .header__logo_mobile {
  width: 270px;
}

.header__logo img,
.header .header__logo_mobile img {
  width: 184px;
  height: 26px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1024px) {
  .header__logo,
  .header .header__logo_mobile {
    width: 231px;
  }
}

@media (max-width: 767px) {
  .header__logo,
  .header .header__logo_mobile {
    width: 130px;
  }
  .header__logo img,
  .header .header__logo_mobile img {
    width: 104px;
    height: 15px;
  }
}

.header__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__link {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 41px 0;
  display: block;
  text-decoration: none;
  min-width: 134px;
  position: relative;
}

.header__link:active {
  color: #e71414;
}

.header__link::before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #babbc5;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: width 0.2s linear, background-color 0.2s linear 0.2s;
  transition: width 0.2s linear, background-color 0.2s linear 0.2s;
}

.header__link:hover::before {
  width: 100%;
}

.header__link:active::before {
  background-color: #e71414;
}

@media (max-width: 1024px) {
  .header__link {
    min-width: 112px;
    font-size: 12px;
    line-height: 14px;
  }
}

.header__link_mobile {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  padding: 24px 0;
  text-align: left;
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.header__menuBurger {
  display: none;
}

.header__menuBurger_icon {
  width: 55px;
  height: 56px;
  padding: 19px 15px;
  cursor: pointer;
}

.header__menuBurger svg {
  width: 24px;
  height: 18px;
}

@media (max-width: 767px) {
  .header__menuBurger {
    display: block;
  }
  .header__menuBurger .close,
  .header__menuBurger .header__logo_mobile {
    display: none;
  }
  .header__menuBurger:hover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px;
    background-image: url(../img/bgNavMobile.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .header__menuBurger:hover::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 43, 73, 0.8);
  }
  .header__menuBurger:hover .header__nav_mobile {
    display: block;
    list-style: none;
    width: 100%;
    margin-top: 28px;
    z-index: 1;
  }
  .header__menuBurger:hover .burger {
    display: none;
  }
  .header__menuBurger:hover .close,
  .header__menuBurger:hover .header__logo_mobile {
    display: block;
    position: relative;
    z-index: 1;
  }
}

.header__nav_mobile {
  display: none;
}

.banner {
  background-image: url(../img/bgBanner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 230px 0 120px;
  position: relative;
}

.banner::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(37, 43, 73, 0.8);
}

@media (max-width: 1024px) {
  .banner {
    padding: 257px 0 126px;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 106px 0 52px;
  }
}

.banner .container {
  position: relative;
  z-index: 1;
}

.banner__title {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  margin-bottom: 31px;
}

@media (max-width: 1024px) {
  .banner__title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
  }
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 33px;
  }
}

.banner__text {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  margin-bottom: 92px;
}

@media (max-width: 1024px) {
  .banner__text {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 767px) {
  .banner__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
  }
}

.banner__btn {
  background-color: #ff4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 0;
  cursor: pointer;
  border: none;
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  max-width: 369px;
  margin: 0 auto;
}

.banner__btn:hover {
  background-color: #e71414;
}

.banner__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .banner__btn {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .banner__btn {
    max-width: 280px;
    padding: 16px 0;
  }
}

.features {
  padding: 116px 0 134px;
}

@media (max-width: 1024px) {
  .features {
    padding: 78px 0 80px;
  }
}

@media (max-width: 767px) {
  .features {
    padding: 40px 0 35px;
  }
}

.features .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 89px;
}

@media (max-width: 1024px) {
  .features .container {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 50px;
  }
}

@media (max-width: 767px) {
  .features .container {
    display: block;
  }
}

@media (max-width: 767px) {
  .features__item {
    margin-bottom: 42px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

.features__icon {
  width: 100px;
  height: 100px;
  margin: 0 auto 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1024px) {
  .features__icon {
    width: 85px;
    height: 85px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .features__icon {
    width: 76px;
    height: 76px;
    margin-bottom: 37px;
  }
}

.features__icon svg {
  width: 75%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  margin-bottom: 42px;
}

@media (max-width: 1024px) {
  .features__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px;
  }
}

@media (max-width: 767px) {
  .features__title {
    margin-bottom: 10px;
  }
}

.features__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
}

@media (max-width: 1024px) {
  .features__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.examples {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 767px) {
  .examples {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.examples__hover {
  display: none;
  -webkit-animation: hover 0.3s linear;
          animation: hover 0.3s linear;
}

.examples__work {
  border: 1px solid #ffffff;
  position: relative;
}

.examples__work::before {
  content: "";
  display: block;
  padding-top: 90%;
}

.examples__work:hover .examples__hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  cursor: pointer;
  background-color: rgba(255, 67, 67, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.examples__work:active .examples__hover {
  background-color: rgba(185, 12, 12, 0.8);
}

.examples__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.examples__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #2d3033;
  color: #ffffff;
  margin-bottom: 39px;
  width: 100%;
}

@media (max-width: 1024px) {
  .examples__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 23px;
  }
}

@media (max-width: 767px) {
  .examples__title {
    margin-bottom: 7px;
  }
}

.examples__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
  color: #ffffff;
  width: 100%;
}

@media (max-width: 1024px) {
  .examples__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.employees {
  padding: 114px 0;
}

@media (max-width: 1024px) {
  .employees {
    padding: 78px 0;
  }
}

@media (max-width: 767px) {
  .employees {
    padding: 35px 0;
  }
}

.employees .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 50px;
}

@media (max-width: 1024px) {
  .employees .container {
    -webkit-column-gap: 25px;
            column-gap: 25px;
    row-gap: 40px;
  }
}

@media (max-width: 767px) {
  .employees .container {
    display: block;
  }
}

.employees__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 767px) {
  .employees__item {
    margin-bottom: 49px;
  }
  .employees__item:last-child {
    margin-bottom: 0;
  }
}

.employees__photo {
  position: relative;
  margin-bottom: 30px;
}

.employees__photo::before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (max-width: 1024px) {
  .employees__photo {
    margin-bottom: 25px;
  }
}

.employees__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.employees__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2d3033;
  margin-bottom: 5px;
}

@media (max-width: 1024px) {
  .employees__name {
    font-size: 18px;
    line-height: 21px;
  }
}

.employees__position {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #ff4343;
  margin-bottom: 18px;
}

@media (max-width: 1024px) {
  .employees__position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .employees__position {
    margin-bottom: 38px;
  }
}

.employees__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
  text-align: left;
  margin-bottom: 38px;
}

@media (max-width: 1024px) {
  .employees__text {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .employees__text {
    margin-bottom: 55px;
  }
}

.employees__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
}

.employees__social_icon {
  border: 1px solid #c6cbcd;
  width: 39px;
  height: 39px;
  margin-right: 5px;
  padding: 9px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.employees__social_icon:last-child {
  margin-right: 0;
}

.employees__social_icon:hover {
  border-color: #2d3033;
}

.employees__social_icon:hover svg {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.employees__social_icon:hover path {
  fill: #2d3033;
}

.employees__social_icon:active {
  border-color: #ff4343;
}

.employees__social_icon:active path {
  fill: #ff4343;
}

@media (max-width: 1024px) {
  .employees__social_icon {
    width: 33px;
    height: 33px;
    padding: 8px 0;
  }
}

@media (max-width: 767px) {
  .employees__social_icon {
    width: 40px;
    height: 40px;
    padding: 10px 0;
  }
}

.employees__social svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.reviews {
  padding-bottom: 45px;
}

@media (max-width: 1024px) {
  .reviews {
    padding-bottom: 33px;
  }
}

.reviews__slider {
  background-color: #5c3249;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 49% 51%;
      grid-template-columns: 49% 51%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .reviews__slider {
    display: block;
  }
}

.reviews__img {
  position: relative;
}

.reviews__img::before {
  content: "";
  display: block;
  padding-top: 66%;
}

.reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.reviews__review {
  padding: 0 20px 0 17%;
}

@media (max-width: 767px) {
  .reviews__review {
    padding: 0 20px 95px;
    margin-top: 25px;
  }
}

.reviews__text {
  font-family: "Cardo";
  font-style: italic;
  font-size: 36px;
  line-height: 49px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 25px;
  max-width: 471px;
}

@media (max-width: 1024px) {
  .reviews__text {
    max-width: 330px;
    margin-bottom: 17px;
    font-size: 24px;
    line-height: 32px;
  }
}

@media (max-width: 767px) {
  .reviews__text {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
    text-align: center;
  }
}

.reviews__name {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .reviews__name {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (max-width: 767px) {
  .reviews__name {
    max-width: 100%;
    text-align: center;
    width: 100%;
  }
}

.download {
  padding: 130px 0 114px;
}

@media (max-width: 1024px) {
  .download {
    padding: 92px 0 78px;
  }
}

@media (max-width: 767px) {
  .download {
    padding: 53px 0 45px;
  }
}

.download__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .download__title {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (max-width: 767px) {
  .download__title {
    margin-bottom: 22px;
    font-size: 18px;
    line-height: 21px;
  }
}

.download__text {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 48px;
}

@media (max-width: 1024px) {
  .download__text {
    margin-bottom: 46px;
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .download__text {
    margin-bottom: 13px;
    font-size: 13px;
    line-height: 15px;
  }
}

.download__btn {
  background-color: #ff4343;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 25px 0;
  cursor: pointer;
  border: none;
  width: 100%;
  display: block;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  max-width: 369px;
  margin: 0 auto;
}

.download__btn:hover {
  background-color: #e71414;
}

.download__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px #ff4343;
          box-shadow: 4px 4px 30px #ff4343;
}

@media (max-width: 1024px) {
  .download__btn {
    font-size: 18px;
    line-height: 21px;
    max-width: 314px;
    padding: 29px 0;
  }
}

@media (max-width: 767px) {
  .download__btn {
    max-width: 100%;
  }
}

.footer {
  background-color: #353c65;
  padding: 71px 0 0;
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 47px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 34px;
  }
}

.footer .container {
  margin-bottom: 67px;
}

.footer__block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

@media (max-width: 1024px) {
  .footer__block {
    -webkit-column-gap: 20px;
            column-gap: 20px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .footer__block {
    display: block;
    margin-bottom: 33px;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  color: #ffffff;
  margin-bottom: 29px;
}

@media (max-width: 1024px) {
  .footer__title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 18px;
  }
}

@media (max-width: 767px) {
  .footer__title {
    margin-bottom: 34px;
  }
}

.footer__text {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #6c7279;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .footer__text {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}

@media (max-width: 1024px) {
  .footer__social {
    padding-top: 16px;
  }
}

@media (max-width: 767px) {
  .footer__social {
    padding-top: 3px;
  }
}

.footer__icon {
  display: block;
  border: 1px solid #c6cbcd;
  width: 39px;
  height: 39px;
  margin-right: 27px;
  padding: 9px 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__icon:hover {
  border-color: #ffffff;
}

.footer__icon:hover svg {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.footer__icon:hover path {
  fill: #ffffff;
}

.footer__icon:active {
  border-color: #ff4343;
}

.footer__icon:active path {
  fill: #ff4343;
}

@media (max-width: 1024px) {
  .footer__icon {
    width: 33px;
    height: 33px;
    padding: 8px 0;
  }
}

.footer__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

@media (max-width: 767px) {
  .footer__location {
    margin-bottom: 69px;
  }
}

@media (max-width: 767px) {
  .footer__socials {
    margin-bottom: 59px;
  }
}

@media (max-width: 767px) {
  .footer__about .footer__title {
    margin-bottom: 39px;
  }
}

.footer__copy {
  background-color: #2c3154;
  padding: 24px 0;
}

@media (max-width: 1024px) {
  .footer__copy {
    padding: 14px 0;
  }
}

@media (max-width: 767px) {
  .footer__copy {
    padding: 30px 0 28px;
  }
}

.footer__copy_text {
  max-width: 370px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer__copy_text {
    max-width: 314px;
  }
}

@media (max-width: 767px) {
  .footer__copy_text {
    max-width: 100%;
  }
}

.footer__copy__span {
  color: #808080;
}
