.parent {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color: blue;
    }
    .item{
        padding: 10px;
        list-style-type: none;
        color: #ffffff;
    }