@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;900&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
$bgHeader: #313131;
$colorLinkHeader: #ffffff;
$colorLinkHeaderHover: #989a9b;
$colorLinkHeaderActive: #245462;
$borderFormHead: 1px solid #e6e6e6;
$colorFormHead: #414141;
$colorNotifHead: #d74444;
$colorBgForm: #f9f9f9;

.textForm {
	font-size: 14px;
	line-height: 16px;
	color: $colorFormHead;
}

.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
}
a {
	text-decoration: none;
	cursor: pointer;
}
input,
button {
	border: none;
	outline: none;
}
button {
	cursor: pointer;
	background-color: transparent;
}
.header {
	background-color: $bgHeader;
	padding: 10px 0 12px;
	.container {
		display: flex;
		justify-content: space-between;
	}
	&__link {
		margin-right: 30px;
		color: $colorLinkHeader;
		font-size: 14px;
		line-height: 16px;
		&:last-child {
			margin-right: 0;
			svg {
				width: 29px;
				height: 17px;
				margin-right: 10px;
			}
		}
		&:hover,
		&:hover path {
			color: $colorLinkHeaderHover;
			fill: $colorLinkHeaderHover;
			stroke: $colorLinkHeaderHover;
		}
		&:active,
		&:active path {
			color: $colorLinkHeaderActive;
			fill: $colorLinkHeaderActive;
			stroke: $colorLinkHeaderActive;
		}
		svg {
			width: 17px;
			height: 17px;
			margin-right: 11px;
		}
	}
	&__info {
		display: flex;
		.header__link {
			display: block;
			display: flex;
			align-items: center;
		}
	}
	@media (max-width: 1024px) {
		display: none;
	}
}
.head {
	padding: 20px 0;
	@media (max-width: 1024px) {
		padding: 40px 0 33px;
	}
	.container {
		display: flex;
		align-items: center;
		@media (max-width: 767px) {
			flex-wrap: wrap;
		}
	}
	&__menuburger {
		display: none;
		&:hover path {
			stroke: $colorLinkHeaderHover;
		}
		&:active path {
			stroke: $colorLinkHeaderActive;
		}
		@media (max-width: 1024px) {
			display: block;
			max-width: 20px;
			max-height: 11px;
			width: 100%;
			height: 100%;
			margin-right: 25px;
			display: flex;
			align-items: center;
			svg {
				display: block;
				width: 20px;
				height: 11px;
				object-fit: contain;
			}
		}
		@media (max-width: 767px) {
			margin-right: 18px;
		}
	}
	&__logo {
		max-width: 113px;
		width: 100%;
		height: 100%;
		max-height: 25px;
		margin-right: 38px;

		svg {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
		@media (max-width: 1024px) {
			margin-right: 40px;
		}
		@media (max-width: 767px) {
			max-width: 100px;
			max-height: 22px;
			margin-right: 59px;
			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	&__form {
		border: $borderFormHead;
		max-width: 839px;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 17px 15px;
		margin-right: 37px;
		&:focus {
			border: $colorLinkHeaderActive;
		}
		@media (max-width: 1024px) {
			max-width: 243px;
			margin-right: 41px;
			padding: 12px 15px;
			border: none;
			background-color: $colorBgForm;
		}
		@media (max-width: 767px) {
			max-width: none;
			width: 100%;
			margin-top: 16px;
			margin-right: 0;
			order: 4;
		}
		button {
			display: block;
			max-width: 14px;
			max-height: 14px;
			margin-right: 20px;
			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		input {
			@extend .textForm;
			width: 100%;
			&::-ms-clear,
			&::-ms-reveal {
				display: none;
			}
			&::-webkit-search-decoration,
			&::-webkit-search-results-button,
			&::-webkit-search-results-decoration,
			&::-webkit-search-cancel-button {
				display: none;
			}
			&::placeholder {
				@extend .textForm;
			}
		}
	}
	&__link {
		display: none;
		@media (max-width: 1024px) {
			display: block;
			font-size: 12px;
			line-height: 14px;
			color: $colorFormHead;
			max-width: 94px;
			max-height: 17px;
			display: flex;
			align-items: center;
			margin-right: 30px;
			&:hover {
				color: $colorLinkHeaderHover;
			}
			&:active {
				color: $colorLinkHeaderActive;
			}
			&:hover path {
				stroke: $colorLinkHeaderHover;
			}
			&:active path {
				stroke: $colorLinkHeaderActive;
			}
			svg {
				width: 29px;
				height: 17px;
				margin-right: 10px;
			}
		}
		@media (max-width: 767px) {
			display: none;
		}
	}
	&__usericons {
		max-width: 112px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 767px) {
			max-width: 92px;
			margin-left: auto;
		}
		&_wishlist {
			width: 20px;
			height: 17px;
		}
		&_cart {
			width: 19px;
			height: 18px;
			position: relative;
			&::before {
				content: "";
				display: block;
				width: 8px;
				height: 8px;
				border-radius: 50%;
				background-color: $colorNotifHead;
				position: absolute;
				top: 0;
				left: 11px;
			}
			svg {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
		&_profile {
			width: 13px;
			height: 18px;
		}
	}
	button {
		&:hover path {
			stroke: $colorLinkHeaderHover;
		}
		&:active path {
			stroke: $colorLinkHeaderActive;
		}
	}
}
