@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Raleway", sans-serif;
   outline: none;
}

$colorTextTeamFeatures: #6c7279;
$colorWhite: #fff;
$colorRed: #ff4343;
$colorDarkRed: #e71414;
$colorRedActive: #b90c0ccc;
$colorDarkBlack: #2d3033;
$colorBlack: #000000;
$colorFooterTop: #353c65;
$colorFooterBottom: #2c3154;
$colorIconsBorderTeam: #c6cbcd;
$colorBackground: #252b49;
$colorBackgroundSwiper: #5c3249;
$colorHeaderBottom: #babbc5;
$sizeTextTeamFeatures: 18px;
$lineHeitTeamFeatures: 21px;

@mixin titleBanner {
   font-size: 64px;
   line-height: 75px;
   font-weight: 900;
   text-align: center;
   color: $colorWhite;
   text-transform: uppercase;
}

@mixin textBanner {
   font-size: 24px;
   line-height: 28px;
   font-weight: 400;
   text-align: center;
   color: $colorWhite;
}

@mixin titleTeamFeatures {
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 6px;
   text-transform: capitalize;
   color: $colorDarkBlack;
   font-weight: 700;
}

@mixin titleDownload {
   font-size: 30px;
   line-height: 35px;
   margin-bottom: 25px;
   color: $colorBlack;
   font-weight: 500;
   text-align: center;
}

@mixin titleSwiper {
   font-size: 36px;
   line-height: 48px;
   font-family: "Cardo", serif;
   font-weight: 400;
   color: $colorWhite;
}

@mixin textSwiper {
   font-size: 13px;
   line-height: 15px;
   color: $colorWhite;
   font-weight: 700;
   text-transform: uppercase;
}

@mixin positionTeam {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   color: $colorRed;
   margin-bottom: 18px;
   text-transform: uppercase;
   font-weight: 400;
}

@mixin textDownload {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   color: $colorBlack;
   text-align: center;
   margin-bottom: 50px;
   font-weight: 700;
}

@mixin textTeamFeatures {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   margin-bottom: 38px;
   color: $colorTextTeamFeatures;
   font-weight: 400;
}

@mixin imgTeam {
   position: relative;
   margin: 0 auto 31px;
   &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
   }
   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
   }
}

@mixin iconFeatures {
   width: 100px;
   height: 100px;
   overflow: hidden;
   margin: 0 auto 49px;
}

@mixin picTeamIconFeatures {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@mixin iconTeam {
   &-link {
      width: 39px;
      height: 39px;
      border: 1px solid $colorIconsBorderTeam;
      margin-right: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         border: 1px solid $colorRed;
      }
      &:hover path {
         fill: $colorRed;
         color: $colorRed;
      }
   }
}

@mixin iconFooter {
   &-link {
      width: 39px;
      height: 39px;
      border: 1px solid $colorIconsBorderTeam;
      margin-right: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         border: 1px solid $colorRed;
      }
      &:hover path {
         fill: $colorRed;
         color: $colorRed;
      }
   }
}

@mixin btn {
   font-size: 24px;
   line-height: 28px;
   color: $colorWhite;
   font-weight: 900;
   display: block;
   max-width: 370px;
   width: 100%;
   text-transform: capitalize;
   text-align: center;
   margin: 0 auto;
   padding: 25px 0 25px 0;
   background-color: $colorRed;
   transition: all 1s;
   border: none;
   cursor: pointer;
   &:hover {
      background-color: #e71414;
   }
   &:active {
      background-color: $colorRed;
      box-shadow: 4px 4px 30px 0px $colorRed;
   }
}
@mixin footerTitleDescription {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   color: $colorWhite;
   text-align: center;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.header {
   .container {
      position: absolute;
      z-index: 2;
      width: 100%;
      left: 90px;
      top: 0;
      border-bottom: 1px solid $colorHeaderBottom;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__menu {
      flex-basis: 57%;
   }
   &__list {
      display: flex;
      & li {
         text-align: center;
         list-style-type: none;
         max-width: 134px;
         width: 100%;
      }
   }
   &-list__item {
      text-decoration: none;
      font-size: 13px;
      font-weight: 700;
      line-height: 15px;
      color: $colorWhite;
      text-transform: uppercase;
      display: block;
      padding: 42px 0;
      transition: all 1s;
      &:hover {
         border-bottom: 2px solid $colorHeaderBottom;
         transition: none;
      }
   }
}

.banner {
   padding: 230px 0 120px;
   background-image: url(../img/banner.png);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;
   &:before {
      content: " ";
      display: block;
      position: absolute;
      background-color: $colorBackground;
      opacity: 80%;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
   }
   .container {
      position: relative;
      z-index: 1;
   }
   &__title {
      @include titleBanner();
      margin-bottom: 31px;
   }
   &__text {
      @include textBanner();
      margin-bottom: 82px;
   }
   &__btn {
      @include btn();
   }
}

.features {
   padding: 116px 0 133px;
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
   }
   &__item {
      margin-right: 30px;
      width: 370px;
      &:nth-child(3n + 3) {
         margin-right: 0;
      }
      &:first-child {
         margin-bottom: 87px;
      }
   }
   &__icon {
      @include iconFeatures();
      & svg {
         @include picTeamIconFeatures();
      }
   }
   &__title {
      @include titleTeamFeatures();
      text-transform: uppercase;
      margin-bottom: 44px;
      text-align: center;
      font-weight: 900;
   }
   &__text {
      @include textTeamFeatures();
      margin-bottom: 0;
      text-align: center;
   }
}

.work {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   &__block {
      position: relative;
      &::before {
         content: " ";
         display: block;
         padding-top: 89.947%;
      }
      & img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         position: absolute;
         top: 0;
         left: 0;
         border: 1px solid $colorWhite;
      }
   }
   &__block-information {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $colorRed;
      opacity: 0;
      margin: 0 auto;
      padding: 126px 0 128px;
      border: 1px solid $colorWhite;
      &:hover {
         opacity: 80%;
         cursor: pointer;
      }
      &:active {
         background-color: $colorRedActive;
      }
   }
   .block-information__title {
      font-size: 24px;
      line-height: 28px;
      text-align: center;
      color: $colorWhite;
      text-transform: uppercase;
      margin-bottom: 36px;
      font-weight: 900;
   }
   .block-information__description {
      font-size: $sizeTextTeamFeatures;
      line-height: $lineHeitTeamFeatures;
      font-weight: 400;
      text-align: center;
      color: $colorWhite;
   }
}

.team {
   padding: 114px 0;

   &__wrapper {
      display: flex;
   }
   &__item {
      margin-right: 30px;
      width: calc((100% - 90px) / 4);
      &:last-child {
         margin-right: 0;
      }
   }
   &__img {
      @include imgTeam();
   }
   &__title-item {
      @include titleTeamFeatures();
   }
   &__position {
      @include positionTeam();
   }
   &__text {
      @include textTeamFeatures();
   }
   &__icons {
      display: flex;
      @include iconTeam();
   }
}

.testimonials {
   .swiper-container {
      max-width: 1511px;
   }
   .swiper-slide {
      display: flex;
      .testimonials__description {
         flex-basis: 51%;
      }
      .testimonials__pic {
         overflow: hidden;
         position: relative;
         &:before {
            content: "";
            display: block;
            /*padding-bottom: 66.127%;*/
         }
         & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            /*position: absolute; исчезает картинка, не могу понять почему*/
            top: 0;
            left: 0;
         }
      }
   }
   &__description {
      background-color: $colorBackgroundSwiper;
      padding: 135px 170px 122px 129px;
   }
   .swiper-slide__title {
      @include titleSwiper();
      margin-bottom: 25px;
   }
   .swiper-slide__text {
      @include textSwiper();
   }
}

.download {
   padding: 159px 114px;
   &__title {
      @include titleDownload();
   }
   &__text {
      @include textDownload();
   }
   &__btn {
      @include btn();
   }
}

.footer {
   padding: 71px 0 24px;
   background-color: $colorFooterTop;
   position: relative;
   &:before {
      display: block;
      content: "";
      position: absolute;
      background-color: $colorFooterBottom;
      left: 0;
      top: 73.529%;
      width: 100%;
      height: 90px;
   }
   .container {
      position: relative;
      z-index: 1;
   }

   &__wrapper {
      display: flex;
      margin-bottom: 91px;
      justify-content: center;
   }
   &__item {
      margin-right: 30px;
      width: calc((100% - 60px) / 3);
      &:last-child {
         margin-right: 0;
      }
      &-title {
         @include footerTitleDescription();
         margin-bottom: 29px;
         font-weight: 700;
         text-transform: uppercase;
      }
      &-description {
         @include footerTitleDescription();
         font-weight: 400;
      }
   }
   .title {
      margin-bottom: 49px;
   }
   &__icons {
      display: flex;
      justify-content: center;
      @include iconFooter();
   }
   &__rights {
      margin: 0 auto;
      text-align: center;
      text-transform: capitalize;
      font-size: $sizeTextTeamFeatures;
      line-height: $lineHeitTeamFeatures;
      max-width: 370px;
      color: $colorTextTeamFeatures;
   }
   span {
      color: $colorWhite;
      text-transform: capitalize;
   }
}
