@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.features {
  padding: 116px 0 133px;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  margin-right: 30px;
  width: 370px;
}

.features__item:nth-child(3n + 3) {
  margin-right: 0;
}

.features__item:first-child {
  margin-bottom: 87px;
}

.features__icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto 53px;
}

.features__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 44px;
  text-align: center;
  font-weight: 900;
}

.features__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 38px;
  color: #6c7279;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.team {
  padding: 114px 0;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.team__item:last-child {
  margin-right: 0;
}

.team__img {
  position: relative;
  margin: 0 auto 31px;
}

.team__img:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.team__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team__title-item {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
}

.team__position {
  font-size: 18px;
  line-height: 21px;
  color: #ff4343;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.team__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 38px;
  color: #6c7279;
  font-weight: 400;
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__icons-link {
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__icons-link:last-child {
  margin-right: 0;
}

.team__icons-link:hover {
  border: 1px solid #ff4343;
}

.team__icons-link:hover path {
  fill: #ff4343;
  color: #ff4343;
}

.download {
  padding: 159px 114px;
}

.download__title {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.download__text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

.download__btn {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 900;
  display: block;
  max-width: 370px;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  background-color: #ff4343;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: none;
}

.download__btn:hover {
  background-color: #e71414;
}

.download__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}
/*# sourceMappingURL=style.css.map */