@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap");

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Raleway", sans-serif;
   outline: none;
}

$colorTextTeamFeatures: #6c7279;
$colorWhite: #fff;
$colorRed: #ff4343;
$colorDarkRed: #e71414;
$colorDarkBlack: #2d3033;
$colorBlack: #000000;
$colorIconsBorderTeam: #c6cbcd;
$sizeTextTeamFeatures: 18px;
$lineHeitTeamFeatures: 21px;

@mixin titleTeamFeatures {
   font-size: 24px;
   line-height: 28px;
   margin-bottom: 6px;
   text-transform: capitalize;
   color: $colorDarkBlack;
   font-weight: 700;
}

@mixin titleDownload {
   font-size: 30px;
   line-height: 35px;
   margin-bottom: 25px;
   color: $colorBlack;
   font-weight: 500;
   text-align: center;
}

@mixin positionTeam {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   color: $colorRed;
   margin-bottom: 18px;
   text-transform: uppercase;
   font-weight: 400;
}

@mixin textDownload {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   color: $colorBlack;
   text-align: center;
   margin-bottom: 50px;
   font-weight: 700;
}

@mixin textTeamFeatures {
   font-size: $sizeTextTeamFeatures;
   line-height: $lineHeitTeamFeatures;
   margin-bottom: 38px;
   color: $colorTextTeamFeatures;
   font-weight: 400;
}

@mixin imgTeam {
   position: relative;
   margin: 0 auto 31px;
   &:before {
      content: "";
      display: block;
      padding-bottom: 100%;
   }
   & img {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
   }
}

@mixin iconFeatures {
   width: 100px;
   height: 100px;
   overflow: hidden;
   margin: 0 auto 53px;
}

@mixin picTeamIconFeatures {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@mixin icon {
   &-link {
      width: 39px;
      height: 39px;
      border: 1px solid $colorIconsBorderTeam;
      margin-right: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         border: 1px solid $colorRed;
      }
      &:hover path {
         fill: $colorRed;
         color: $colorRed;
      }
   }
}

@mixin btn {
   font-size: 24px;
   line-height: 28px;
   color: $colorWhite;
   font-weight: 900;
   display: block;
   max-width: 370px;
   width: 100%;
   text-transform: capitalize;
   text-align: center;
   margin: 0 auto;
   padding: 25px 0 25px 0;
   background-color: $colorRed;
   transition: all 1s;
   border: none;
   &:hover {
      background-color: #e71414;
   }
   &:active {
      background-color: $colorRed;
      box-shadow: 4px 4px 30px 0px $colorRed;
   }
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.features {
   padding: 116px 0 133px;
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
   }
   &__item {
      margin-right: 30px;
      width: 370px;
      &:nth-child(3n + 3) {
         margin-right: 0;
      }
      &:first-child {
         margin-bottom: 87px;
      }
   }
   &__icon {
      @include iconFeatures();
      & svg {
         @include picTeamIconFeatures();
      }
   }
   &__title {
      @include titleTeamFeatures();
      text-transform: uppercase;
      margin-bottom: 44px;
      text-align: center;
      font-weight: 900;
   }
   &__text {
      @include textTeamFeatures();
      margin-bottom: 0;
      text-align: center;
   }
}

.team {
   padding: 114px 0;

   &__wrapper {
      display: flex;
   }
   &__item {
      margin-right: 30px;
      width: calc((100% - 90px) / 4);
      &:last-child {
         margin-right: 0;
      }
   }
   &__img {
      @include imgTeam();
   }
   &__title-item {
      @include titleTeamFeatures();
   }
   &__position {
      @include positionTeam();
   }
   &__text {
      @include textTeamFeatures();
   }
   &__icons {
      display: flex;
      @include icon();
   }
}

.download {
   padding: 159px 114px;
   &__title {
      @include titleDownload();
   }
   &__text {
      @include textDownload();
   }
   &__btn {
      @include btn();
   }
}
