@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Raleway:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  outline: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.banner {
  padding: 230px 0 120px;
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.banner:before {
  content: " ";
  display: block;
  position: absolute;
  background-color: #252b49;
  opacity: 80%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner .container {
  position: relative;
  z-index: 1;
}

.banner__title {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.banner__text {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin-bottom: 82px;
}

.banner__btn {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 900;
  display: block;
  max-width: 370px;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  background-color: #ff4343;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: none;
  cursor: pointer;
}

.banner__btn:hover {
  background-color: #e71414;
}

.banner__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}

.features {
  padding: 116px 0 133px;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  margin-right: 30px;
  width: 370px;
}

.features__item:nth-child(3n + 3) {
  margin-right: 0;
}

.features__item:first-child {
  margin-bottom: 87px;
}

.features__icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 0 auto 53px;
}

.features__icon svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__title {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 44px;
  text-align: center;
  font-weight: 900;
}

.features__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 38px;
  color: #6c7279;
  font-weight: 400;
  margin-bottom: 0;
  text-align: center;
}

.team {
  padding: 114px 0;
}

.team__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  margin-right: 30px;
  width: calc((100% - 90px) / 4);
}

.team__item:last-child {
  margin-right: 0;
}

.team__img {
  position: relative;
  margin: 0 auto 31px;
}

.team__img:before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.team__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.team__title-item {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
  text-transform: capitalize;
  color: #2d3033;
  font-weight: 700;
}

.team__position {
  font-size: 18px;
  line-height: 21px;
  color: #ff4343;
  margin-bottom: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.team__text {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 38px;
  color: #6c7279;
  font-weight: 400;
}

.team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__icons-link {
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  margin-right: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__icons-link:last-child {
  margin-right: 0;
}

.team__icons-link:hover {
  border: 1px solid #ff4343;
}

.team__icons-link:hover path {
  fill: #ff4343;
  color: #ff4343;
}

.testimonials .swiper-container {
  max-width: 1511px;
}

.testimonials .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials .swiper-slide .testimonials__description {
  -ms-flex-preferred-size: 51%;
      flex-basis: 51%;
}

.testimonials .swiper-slide .testimonials__pic {
  overflow: hidden;
}

.testimonials .swiper-slide .testimonials__pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.testimonials__description {
  background-color: #5c3249;
  padding: 135px 170px 122px 129px;
}

.testimonials .swiper-slide__title {
  font-size: 36px;
  line-height: 48px;
  font-family: "Cardo", serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 25px;
}

.testimonials .swiper-slide__text {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.download {
  padding: 159px 114px;
}

.download__title {
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 25px;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

.download__text {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
}

.download__btn {
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  font-weight: 900;
  display: block;
  max-width: 370px;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  margin: 0 auto;
  padding: 25px 0 25px 0;
  background-color: #ff4343;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: none;
  cursor: pointer;
}

.download__btn:hover {
  background-color: #e71414;
}

.download__btn:active {
  background-color: #ff4343;
  -webkit-box-shadow: 4px 4px 30px 0px #ff4343;
          box-shadow: 4px 4px 30px 0px #ff4343;
}

.footer {
  padding: 71px 0 24px;
  background-color: #353c65;
  position: relative;
}

.footer:before {
  display: block;
  content: "";
  position: absolute;
  background-color: #2c3154;
  left: 0;
  top: 73.529%;
  width: 100%;
  height: 90px;
}

.footer .container {
  position: relative;
  z-index: 1;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 91px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__item {
  margin-right: 30px;
  width: calc((100% - 60px) / 3);
}

.footer__item:last-child {
  margin-right: 0;
}

.footer__item-title {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  margin-bottom: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__item-description {
  font-size: 18px;
  line-height: 21px;
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.footer .title {
  margin-bottom: 49px;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__icons-link {
  width: 39px;
  height: 39px;
  border: 1px solid #c6cbcd;
  margin-right: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icons-link:last-child {
  margin-right: 0;
}

.footer__icons-link:hover {
  border: 1px solid #ff4343;
}

.footer__icons-link:hover path {
  fill: #ff4343;
  color: #ff4343;
}

.footer__rights {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  line-height: 21px;
  max-width: 370px;
  color: #6c7279;
}

.footer span {
  color: #fff;
  text-transform: capitalize;
}
/*# sourceMappingURL=style.css.map */