@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&family=Raleway:wght@700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colorBlue: #009DE7;
$colorBlueDark: #092B82;
$colorYellow: #F0C11A;

//Header
header{
  padding: 0;
}
