@font-face {
	font-family: "Fira Sans Extra Condensed";
	src: url("../fonts/font/FiraSansExtraCondensed-Bold.eot");
	src: local("../fonts/font/Fira Sans Extra Condensed Bold"), local("../fonts/font/FiraSansExtraCondensed-Bold"),
		url("../fonts/font/FiraSansExtraCondensed-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/font/FiraSansExtraCondensed-Bold.woff2") format("woff2"),
		url("../fonts/font/FiraSansExtraCondensed-Bold.woff") format("woff"),
		url("../fonts/font/FiraSansExtraCondensed-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Fira Sans Extra Condensed";
	src: url("../fonts/font/FiraSansExtraCondensed-SemiBold.eot");
	src: local("Fira Sans Extra Condensed SemiBold"), local("../fonts/font/FiraSansExtraCondensed-SemiBold"),
		url("../fonts/font/FiraSansExtraCondensed-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/font/FiraSansExtraCondensed-SemiBold.woff2") format("woff2"),
		url("../fonts/font/iraSansExtraCondensed-SemiBold.woff") format("woff"),
		url("../fonts/font/FiraSansExtraCondensed-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Fira Sans Extra Condensed";
	src: url("../fonts/font/FiraSansExtraCondensed-Medium.eot");
	src: local("../fonts/font/Fira Sans Extra Condensed Medium"), local("../fonts/font/FiraSansExtraCondensed-Medium"),
		url("../fonts/font/FiraSansExtraCondensed-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/font/FiraSansExtraCondensed-Medium.woff2") format("woff2"),
		url("../fonts/font/FiraSansExtraCondensed-Medium.woff") format("woff"),
		url("../fonts/font/FiraSansExtraCondensed-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/f/Gilroy-Semibold.eot");
	src: local("../fonts/f/Gilroy Semibold"), local("../fonts/f/Gilroy-Semibold"),
		url("../fonts/f/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/f/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/f/Gilroy-Semibold.woff") format("woff"),
		url("../fonts/f/Gilroy-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/f/Gilroy-Medium.eot");
	src: local("../fonts/f/Gilroy Medium"), local("../fonts/f/Gilroy-Medium"),
		url("../fonts/f/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/f/Gilroy-Medium.woff2") format("woff2"), url("../fonts/f/Gilroy-Medium.woff") format("woff"),
		url("../fonts/f/Gilroy-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}