@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}
.header{
   background-color: #000000;
}
.header__container{
   display: flex;
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   align-items: center;
   justify-content: space-between;
}
.header-list{
   display: flex;
   list-style: none;
}
.header-list__item{
   text-decoration: none;
   font-weight: 600;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   display: block;
   padding: 28px 10px;
   min-width: 167px;
}
.header-list__item:hover{
   background-color: #EC7979;
   transition: all 0.3s linear;
}
.header-list__item:active{
   background-color: #AB4949;
   transition: all 0.3s linear;
}

.banner{
   padding: 208.15px 0 185px;
   background-image: url(../media/bgbanner.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.banner::before{
   content: ' ';
   display: block;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.5);
}
.banner__container{
   align-items: flex-start;
   max-width: 1200px;
   margin: 0 auto ;
   padding: 0 15px;
   display: flex;
   position: relative;
   z-index: 1;
}
.banner__info{
   margin-right: 30px;
   padding-top: 22px;
}
.banner__logo{
   margin-bottom: 72.88px;
   display: block;
}
.banner__title{
   font-family: 'Raleway', sans-serif;
   font-weight: 500;
   font-size: 48px;
   line-height: 56px;
   align-items: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin: 0 0 94px;
   position: relative;
   max-width: 670px;
}
.banner__title::after{
   content: ' ';
   display: block;
   width: 170px;
   border-bottom: 1px solid #fff;
   position: absolute;
   top: calc(100% + 51px);
}
.banner_text{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   align-items: center;
   color: #FFFFFF;
   margin-bottom: 42px;
   max-width: 280px;
}
.banner__btn{
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-transform: capitalize;
   color:#FFFFFF;
   background-color: transparent;
   padding: 14px 0;
   max-width: 270px;
   width: 100%;
   text-align: center;
   border:  2px solid #FFFFFF;
   display: block;
}
.banner__btn:hover{
   color: #EC7979;
   border:  2px solid #EC7979;
   transition: all 0.3s linear;
}
.banner__btn:active{
   background-color: #AB4949;
   color: #fff;
   border:  2px solid #AB4949;
   transition: all 0.3s linear;
}
.banner__form__container{
   max-width: 470px;
   width: 100%;
   background-color:#FFFFFF;
   border-radius: 10px;
}
.banner__forms{ 
   padding: 28px 50px 0;
}
.banner__form__text{
   font-size: 24px;
   line-height: 33px;
   font-weight: 700;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #333333;
   margin-bottom: 59px;
}
.banner__color__text{
   font-size: 24px;
   line-height: 33px;
   font-weight: 700;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #EC7979;
}
.banner__form{
   display: flex;
   flex-direction: column;
}
.banner__form__input{
   font-size: 14px;
   line-height: 19px;
   font-weight: 400;
   align-items: center;
   color: #BDBDBD;
   padding: 15px 0;
   border:none;
   border-bottom: 1px solid #BDBDBD;
   margin-bottom: 21px;
}
.banner__form__input:last-child{
   margin-bottom: 75px;
}
.banner__form__input:focus{
   outline: none;
   color: #333333;
   font-size: 14px;
   line-height: 19px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #C6CBCD;
   border-radius: 5px 5px 0 0;
   border-bottom: 1px solid #fff;
   background-color: #E5E5E5;
}
.banner__form__btn{
   font-weight: 600;
   font-size: 15px;
   line-height: 20px;
   color:#FFFFFF;
   background-color: #EC7979;
   padding: 22.5px 0;
   max-width: 470px;
   width: 100%;
   text-align: center;
   border:   2px solid transparent;
   border-radius: 0px 0px 10px 10px;
   display: block;
}
.banner__form__btn:hover{
   background-color:  #AB4949;
   border:  2px solid #AB4949;
   transition: all 0.3s linear;

}
.banner__form__btn:active{
   background-color: #EC7979;
   border:  2px solid #EC7979;
   transition: all 0.3s linear;
}

.social{
   background-color: #F8EFEF;
   padding:  25px 0 18px;
}
.container__social{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.post__social{
   max-width: 470px;
   margin-right: 49.84px;
}
.title__social{
   font-size: 24px;
   line-height: 33px;
   font-weight: 700;
   color: #333333;
   margin-bottom: 20px;
}
.text__social{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #86878B;
}
.item__social{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
}
.icon__social{
   list-style-type: none;
}
.icon__social:hover path{
   fill: rgb(60, 60, 120);
   color: rgb(60, 60, 120);
   transition: all 0.3s linear;
}


.tab{
   padding: 99px 0 50px 0;
}
.tab__container{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}
.tab__elements{
   width: 100%;
   display: flex;
}
.tab__icon{
   max-width: 203px;
   width: 100%;
   justify-content: flex-start;
   font-size: 14px;
   line-height: 19px;
   text-align: center;
   text-transform: uppercase;
   font-weight: 400;
   color: #333333;
   padding: 9px 0;
   border: 1px solid transparent;
}
.tab__icon.active{
   border: 1px solid #C6CBCD;
   border-radius: 8px 8px 0 0;
   position: relative;
}
.tab__icon.active::before{
   content: ' ';
   display: block;
   width: 100%;
   height: 20px;
   background-color: #FFFFFF;
   position: absolute;
   left: 0;
   bottom: -10px;
}
.tab__image{
   width: 40%;
   display: flex;
   overflow: hidden;
}
.tab__image img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.tab__post{
   width: 60%;
   padding: 54px 30px 54px 100px;
}
.tab__title{
   font-size: 30px;
   line-height: 41px;
   font-weight: 700;
   color: #000000;
   margin-bottom: 56px ;
}
.tab__text{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #000000;
   margin-bottom: 27px;
}
.tab__btn{
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   text-transform: capitalize;
   color:#FFFFFF;
   background-color: #EC7979;
   padding: 17px 0;
   max-width: 270px;
   width: 100%;
   text-align: center;
   border: none;
   display: block;
}
.tab__btn:hover{
   background-color: #AB4949;
   transition: all 0.3s linear;
}
.tab__btn:active{
   background-color: #EC7979;
   transition: all 0.3s linear;
}
.tab__box{
   width: 100%;
   border: 1px solid #C6CBCD;
   display: flex;
}


.awesome{
   padding: 71px 0 58px;
}
.awesome__container{
   max-width: 1200px;
   width: 100%;
   padding: 0 15px;
   margin: 0 auto;
}
.awesome__title{
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   margin-bottom: 80px;
   color: #000000;
   font-weight: 400;
   position: relative;
}
.awesome__title::after{
   content: ' ';
   display: block;
   width: 170px;
   border-bottom: 1px solid #EC7979;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% + 40px);
}
.title__text{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   margin-bottom: 109px;
   color:#86878B;
   font-weight: 400;
}
.posts{
   display: flex;
}
.awesome__post{
   width: calc(( 100% - 60px) / 3);
   margin-right: 30px;
}
.awesome__post:last-child{
   margin-right: 0;
}
.post__title{
   font-family: 'Open Sans', sans-serif;
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   color: #000000;
   font-weight: 700;
   margin-bottom: 44px;
}
.post__text{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #000000;
   font-weight: 400;
}
.post__img{
   width: 93px;
   height: 93px;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid #EC7979;
   border-radius: 50%;
   margin: 0 auto 70px;
}
.post__img img{
   width: 75%;
   height: 75%;
   object-fit: contain;
   position: relative;
   z-index: -1;
}



.pricing{
   width: 100%;
   padding: 118px 0 75px;
   background-color: #F5F5F5;
}
.container__pricing{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}
.pricing__title{
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   font-weight: 400;
   margin-bottom: 80px; 
   position: relative;
}
.pricing__title::after{
   content: ' ';
   display: block;
   width: 170px;
   border-bottom: 1px solid #EC7979;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% + 40px);
}
.pricing_options{
   display: flex;
}
.option{
   margin-right: 30px;
   width: calc((100% - 30px - 30px) / 3);
   position: relative;
   top:0;
}
.option:last-child{
   margin-right: 0;
}
.option__name{
   font-size: 24px;
   line-height: 33px;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   font-weight: 700;
   background-color: #333333;
   border-bottom: 2px solid #F5F5F5;
   padding: 13px 0;
}
.option__price{
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   font-weight: 700;
   color: #FFFFFF;
   background-color: #333333;
   border-bottom: 2px solid #F5F5F5;
   padding: 27px 0;
}
.option__item{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   font-weight: 400;
   color: rgba(255, 255, 255, 0.5);
   background-color: #333333;
   border-bottom: 2px solid #F5F5F5;
   padding: 15px 0;
}
.options{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   text-align: center;
   text-transform: capitalize;
   color: #86878B;
   background: #FFFFFF;
   border-bottom: 2px solid #F5F5F5;
   padding: 13px 0;
}
.pricing__text{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   margin-bottom: 59px;
   color:#86878B;
   font-weight: 400;
}
.option:hover{
   top: -20px;
   transition: all 0.6s linear;
}


.customers{
   width: 100%;
   padding: 118px 0 75px;
   margin: 0 auto; 
}
.container__customers{
   max-width: 1200px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}
.title__customers{
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   line-height: 42px;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   font-weight: 400;
   margin-bottom: 80px;
   position: relative;
}
.title__customers::after{
   content: ' ';
   display: block;
   width: 170px;
   border-bottom: 1px solid #EC7979;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% + 40px);
}
.text__customers{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   margin-bottom: 83px;
   color:#86878B;
   font-weight: 400;
}
.posts__customers{
   display: flex;
}
.post__customers{
   margin-right: 30px;
   width: calc((100% - 30px - 30px) / 3);
}
.post__customers:last-child{
   margin-right: 0;
}

.posttext__customers{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   text-align: center;
   color: #86878B;
   font-weight: 400;
}
.container_post_text_customers{
   background: #E2E2E2;
   border-radius: 10px;
   padding: 38px 20px 37px;
   margin-bottom: 66px;
   position: relative;
   
}
.container_post_text_customers::after{
   content: ' ';
   display: block;
   position: absolute;
   border: 15px solid transparent;
   border-top: 20px solid #E2E2E2;
   top: 100%;
   left: 19%;
}
.item_customers{
   width: 100%;
   display: flex;
}
.customers__img{
   width: 70px;
   height: 70px;
   border-radius: 50%;
   overflow: hidden;
   display: flex;
   margin-right: 30px;
}
.customers__img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.info__customers{
   width: calc(100% - 100px);
}
.name__customers{
   font-size: 24px;
   line-height: 33px;
   text-transform: capitalize;
   color: #000000;
   font-weight: 700;
   margin-bottom: 27px;
}
.proffesion__customers{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   color: #000000;
}

.design{
   padding: 118px 0 50px;
   background-image: url(../media/bgdesign.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;
}
.design::before{
   content: ' ';
   display: block;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: absolute;
   background-color: rgba(0, 0, 0, 0.5);
}
.container__design{
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;
   position: relative;
   z-index: 1;
}
.title__design{
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   line-height: 42px;
   font-weight: 400;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #FFFFFF;
   margin-bottom: 80px;
   position: relative;
}
.title__design::after{
   content: ' ';
   display: block;
   width: 170px;
   border-bottom: 1px solid #fff;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% + 40px);
}
.text__design{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   align-items: center;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 73px;
}
.design__btn{
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   display: flex;
   align-items: center;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   padding: 14px 0;
   max-width: 370px;
   width: 100%;
   background-color: transparent;
   border: 2px solid #FFFFFF;
   display: block;
   margin: 0 auto;
}
.design__btn:hover{
   color: #EC7979;
   border: 2px solid #EC7979;
   transition: all 0.3s linear;
}
.design__btn:active{
   background-color: #AB4949;
   color: #FFFFFF;
   border: 2px solid #AB4949;
   transition: all 0.3s linear;
}

.contact{
   padding: 116px 0 50px;
}

.container__contact{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.title__contact{
   font-family: 'Raleway', sans-serif;
   font-size: 36px;
   line-height: 42px;
   font-weight: 400;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   color: #000000;
   position: relative;
   margin-bottom: 80px;
}
.title__contact::after{
   content: ' ';
   display: block;
   width: 170px;
   border-bottom: 1px solid #EC7979;
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% + 40px);
}
.text__contact{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   align-items: center;
   text-align: center;
   color: #86878B;
   margin-bottom: 75px;
}
.forms__contact{
   display: flex;
   flex-wrap: wrap;
}
.form__contact-item{
   margin-right: 30px;
   width: calc((100% - 30px) / 2) ;
}
.form__contact:last-child{
   margin-right: 0;
}

.form__input{
   font-size: 14px;
   line-height: 19px;
   font-weight: 400;
   align-items: center;
   color: #BDBDBD;
   padding:  15px 0;
   border:none;
   border-bottom: 1px solid #BDBDBD;
   margin-bottom: 38px;
   display: block;
   width: 100%;
}
.form__input:last-child{
   margin-bottom: 0;
}
.form__input:focus {
   outline: none;
   color: #333333;
   font-size: 14px;
   line-height: 19px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #C6CBCD;
   border-radius: 5px 5px 0 0;
   border-bottom: 1px solid #fff;
   background-color: #E5E5E5;
}
.messageform__input{
   font-size: 14px;
   line-height: 19px;
   font-weight: 400;
   align-items: center;
   color: #BDBDBD;
   padding: 16px;
   border:none;
   border-bottom: 1px solid #BDBDBD;
   width: calc((100% - 30px) / 2) ;
}
.messageform__input:focus {
   outline: none;
   color: #333333;
   font-size: 14px;
   line-height: 19px;
   align-items: center;
   text-align: center;
   text-transform: uppercase;
   border: 1px solid #C6CBCD;
   border-radius: 5px 5px 0 0;
   border-bottom: 1px solid #fff;
   background-color: #E5E5E5;
}
.contact__btn{
   font-weight: 600;
   font-size: 18px;
   line-height: 25px;
   align-items: center;
   text-align: center;
   text-transform: capitalize;
   color: #FFFFFF;
   padding: 17px 0;
   max-width: 370px;
   width: 100%;
   background-color: #EC7979;
   border: none;
   display: block;
   margin: 53px auto 0px;
}

.footer{
   background-color: #000000;
   padding: 40px 0 20px;
}
.footer .container{
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}
.item__footer{
   margin: 0 0 28px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-grow: 1;
}
.icon__footer{
   list-style-type: none;
   margin-right: 45px;
}

.icon__footer:last-child{
   margin: 0;
}
.icon__footer:hover path{
   fill: rgb(60, 60, 120);
   color: rgb(60, 60, 120);
}
.container__text__footer{
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px 27px;
}
.text__footer{
   font-family: 'Raleway', sans-serif;
   font-size: 18px;
   line-height: 21px;
   font-weight: 400;
   align-items: center;
   text-align: center;
   color: rgba(255, 255, 255, 0.5);
}